@import url("https://fonts.googleapis.com/css2?family=Khula&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Piazzolla:wght@355&display=swap");

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  overflow-x: hidden;
  height: 100%;

  display: grid;
  grid-template-rows: 3.5rem auto fit-content(8rem);
  grid-template-areas:
    "header"
    "main"
    "footer";
}

main {
  margin-top: 50px;
  grid-area: main;
}

.backdrop {
  display: none;
  background-color: rgba(49, 48, 48, 0.6);
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  bottom: 0;
  z-index: 3;
}

.main-header {
  height: 3.5rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #2ddf5c;
  padding: 0.5rem 1rem;
  z-index: 2;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-header-div-logo-toggle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.main-header__brand {
  color: #0e4f1f;
  text-decoration: none;
}

.main-header__brand img {
  height: 2.2rem;
}

.main-nav {
  display: none;
}

.main-nav__items {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}

.main-nav__item {
  margin: 0 1rem;
}

.main-nav__item a,
.mobile-nav__item a {
  color: #0e4f1f;
  text-decoration: none;
  font-weight: bold;
}

.main-nav__item a:hover,
.main-nav__item a:active {
  color: white;
  border-bottom: 5px solid white;
}

.main-nav__item--cta a,
.mobile-nav__item--cta a {
  color: white;
  background: #ff1b68;
  padding: 0.5rem 1rem;
  border-radius: 8px;
}

.main-nav__item--cta a:hover,
.main-nav__item--cta a:active,
.mobile-nav__item--cta a:hover,
.mobile-nav__item--cta a:active {
  color: #ff1b68;
  background: white;
  border: none;
}

.button {
  color: white;
  background: #0e4f1f;
  font: inherit;
  border: 1.5px solid #0e4f1f;
  padding: 0.7rem;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;

  outline: 0;
  margin: 1rem;

  box-shadow: 1px 2px 5px 1px rgba(53, 53, 53, 0.3);
  transition: all 0.2s;
}

.button:hover,
.button:active {
  background: white;
  color: #0e4f1f;
}

.button[disabled] {
  cursor: default;
  background-color: #ccc;
  border-color: rgb(124, 124, 124);
  color: rgb(124, 124, 124);
}

.main-footer {
  background: black;
  padding: 1rem;
  margin-top: 3rem;

  grid-area: footer;
}

.main-footer__links {
  list-style: none;
  padding: 0.3rem;
  margin: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-footer__link {
  margin: 0.4rem 0;
}

.main-footer__link a {
  text-decoration: none;
  color: white;
}

.main-footer__link a:hover,
.main-footer__link a:active {
  color: #ccc;
}

.mobile-nav {
  display: none;
  position: fixed;
  z-index: 101;
  top: 0;
  left: 0;
  background: white;
  width: 80%;
  height: 100vh;
}

.mobile-nav__items {
  width: 90%;
  height: 100%;
  list-style: none;
  margin: 0 auto;
  padding: 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mobile-nav__item {
  margin: 1rem 0;
}

.mobile-nav__item a {
  font-size: 1.5rem;
}

.toggle-button {
  width: 2.5rem;

  background: transparent;
  border: none;
  cursor: pointer;
  padding-top: 0;
  padding-bottom: 0;
}

.toggle-button:focus {
  outline: none;
}

.toggle-button__bar {
  width: 100%;
  height: 0.2rem;
  background: black;
  display: block;
  margin: 0.6rem 0;
}

.open {
  display: block !important;
}

@media (min-width: 40rem) {
  .toggle-button {
    display: none;
  }

  .main-nav {
    display: inline-block;
  }

  .main-footer {
    padding: 2rem;
  }

  .main-footer__links {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .main-footer__link {
    margin: 0 1rem;
  }
}
