/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@import url("https://fonts.googleapis.com/css2?family=Khula&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Piazzolla:wght@355&display=swap");

:root {
  --dark-green: #0e4f1f;
  --light-green: #2ddf5c;
  --pink: #ff1b68;
  --light-grey: #7c7c7c;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  overflow-x: hidden;
  height: 100%;

  display: -ms-grid;

  display: grid;
  -ms-grid-rows: 3.5rem auto fit-content(8rem);
  grid-template-rows: 3.5rem auto fit-content(8rem);
  grid-template-areas:
    "header"
    "main"
    "footer";
}

main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  margin-top: 50px;
  grid-area: main;
}

.backdrop {
  display: none;
  opacity: 0;
  background-color: rgba(49, 48, 48, 0.6);
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  bottom: 0;
  z-index: 3;
  -webkit-transition: opacity 200ms linear;
  -o-transition: opacity 200ms linear;
  transition: opacity 200ms linear;
}

.main-header {
  height: 3.5rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--light-green);
  padding: 0.5rem 1rem;
  z-index: 2;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.main-header-div-logo-toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.main-header__brand {
  color: var(--dark-green);
  text-decoration: none;
}

.main-header__brand img {
  height: 2.2rem;
}

.main-nav {
  display: none;
}

.main-nav__items {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-nav__item {
  margin: 0 1rem;
}

.main-nav__item a,
.mobile-nav__item a {
  color: var(--dark-green);
  text-decoration: none;
  font-weight: bold;
}

.main-nav__item a:hover,
.main-nav__item a:active {
  color: white;
  border-bottom: 5px solid white;
}

.main-nav__item--cta {
  -webkit-animation: wiggle 300ms 1s 3;
  animation: wiggle 300ms 1s 3;
}

.main-nav__item--cta a,
.mobile-nav__item--cta a {
  color: white;
  background: var(--pink);
  padding: 0.5rem 1rem;
  border-radius: 8px;
}

.main-nav__item--cta a:hover,
.main-nav__item--cta a:active,
.mobile-nav__item--cta a:hover,
.mobile-nav__item--cta a:active {
  color: var(--pink);
  background: white;
  border: none;
}

.button {
  color: white;
  background: var(--dark-green);
  font: inherit;
  border: 1.5px solid var(--dark-green);
  padding: 0.7rem;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;

  outline: 0;
  margin: 1rem;

  -webkit-box-shadow: 1px 2px 5px 1px rgba(53, 53, 53, 0.3);

  box-shadow: 1px 2px 5px 1px rgba(53, 53, 53, 0.3);
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.button:hover,
.button:active {
  background: white;
  color: var(--dark-green);
}

.button[disabled] {
  cursor: default;
  background-color: #ccc;
  border-color: var(--light-grey);
  color: var(--light-grey);
}

.main-footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  background: black;
  padding: 1rem;
  margin-top: 3rem;

  grid-area: footer;
}

.main-footer__links {
  list-style: none;
  padding: 0.3rem;
  margin: 0;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.main-footer__link {
  margin: 0.4rem 0;
}

.main-footer__link a {
  text-decoration: none;
  color: white;
}

.main-footer__link a:hover,
.main-footer__link a:active {
  color: #ccc;
}

.mobile-nav {
  display: none;
  position: fixed;
  z-index: 101;
  top: 0;
  left: 0;
  background: white;
  width: 80%;
  height: 100vh;
  -webkit-transform: translateX(-30rem);
  -ms-transform: translateX(-30rem);
  transform: translateX(-30rem);
  -webkit-transition: -webkit-transform 400ms;
  transition: -webkit-transform 400ms;
  -o-transition: transform 400ms;
  transition: transform 400ms;
  transition: transform 400ms, -webkit-transform 400ms;
}

.mobile-nav__items {
  width: 90%;
  height: 100%;
  list-style: none;
  margin: 0 auto;
  padding: 1rem;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.mobile-nav__item {
  margin: 1rem 0;
}

.mobile-nav__item a {
  font-size: 1.5rem;
}

.toggle-button {
  width: 2.5rem;

  background: transparent;
  border: none;
  cursor: pointer;
  padding-top: 0;
  padding-bottom: 0;
}

.toggle-button:focus {
  outline: none;
}

.toggle-button__bar {
  width: 100%;
  height: 0.2rem;
  background: black;
  display: block;
  margin: 0.6rem 0;
}

.open {
  display: block !important;
  opacity: 1 !important;
  -webkit-transform: translateX(0) translateY(0) !important;
  -ms-transform: translateX(0) translateY(0) !important;
  transform: translateX(0) translateY(0) !important;
}

@media (min-width: 40rem) {
  .toggle-button {
    display: none;
  }

  .main-nav {
    display: inline-block;
  }

  .main-footer {
    padding: 2rem;
  }

  .main-footer__links {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .main-footer__link {
    margin: 0 1rem;
  }
}

@-webkit-keyframes wiggle {
  0% {
    -webkit-transform: rotateZ(0);
    transform: rotateZ(0);
  }
  50% {
    -webkit-transform: rotateZ(-5deg);
    transform: rotateZ(-5deg);
  }
  100% {
    -webkit-transform: rotateZ(5deg);
    transform: rotateZ(5deg);
  }
}

@keyframes wiggle {
  0% {
    -webkit-transform: rotateZ(0);
    transform: rotateZ(0);
  }
  50% {
    -webkit-transform: rotateZ(-5deg);
    transform: rotateZ(-5deg);
  }
  100% {
    -webkit-transform: rotateZ(5deg);
    transform: rotateZ(5deg);
  }
}
