main {
  padding-top: 2rem;
}

.background {
  background: url("../images/plans-background.jpg") center/cover;
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

.package {
  background: rgb(212, 235, 212);
  width: 80%;
  border: 2px solid #0e4f1f;
  border-left: none;
  margin: 1.1rem 0;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
}

.package:hover,
.package:active,
#free:hover,
#free:active {
  border-color: #ff5454;
  box-shadow: 2px 2px 8px 0px #ccc;
}

.package a {
  text-decoration: none;
  color: inherit;
  display: block;
  padding: 2rem;
}

.package__badge {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5rem;
  margin: 1.25rem;
  font-size: 0.8rem;
  color: white;
  background: #ff5454;
}

.package__title {
  font-size: 1.2rem;
}

.package__subtitle {
  font-size: 1.1rem;
  color: rgb(122, 122, 122);
}

.package__description {
  border: 1px solid #0e4f1f;
  padding: 1rem;
  background: white;
  font-size: 1rem;
  color: #0e4f1f;
  /* font-family: "Anton", sans-serif; */
}

.clearfix {
  clear: both;
}

#plus {
  background: rgba(214, 255, 220, 0.95);
}

#free {
  background: rgba(234, 252, 237, 0.95);
  float: right;
  border: 2px solid #0e4f1f;
  border-right: none;
  text-align: right;
}

#premium {
  background: rgba(14, 79, 31, 0.95);
}

#premium .package__title {
  color: white;
}

#premium .package__subtitle {
  color: #bbb;
}

@media (min-width: 40rem) {
  main {
    max-width: 70rem;
    margin-left: auto;
    margin-right: auto;
  }

  .package {
    border-left: 2px solid #0e4f1f;
  }

  #free {
    border-right: 2px solid #0e4f1f;
  }
}
